.header-color{
  background: #0f0c29;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, black, black, black);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, black, black, black); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


.landing-grid{
  background: #D3CCE3;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #E9E4F0, #D3CCE3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  /* background: black; */

  text-align: center;
  /* position: fixed; */
  /* top: 0; */
  /* left: 0; */
  width: 100%;
  height: 100%;
}

.avatar-img {
  height: 120px;
  margin-top: 1em;
  border-radius: 50%;
  /* transform: rotate(-1.25deg); */
}

.banner-text {
  /* background-color: black; */
  opacity: .8;
  width: 55%;
  margin: auto;
  border-radius: 10px;
  font-family: montserrat;
  
}

.banner-text h1{
  font-size: 4vw;
  font-weight: bold;
  color: white;
  font-family: montserrat;
  text-shadow: -2px 2px 5px black;
}
@media screen and (max-width: 600px) {
  .banner-text h1 {
    font-size: 5vh;
  }
}

.banner-text hr {
  border-top: 5px dashed white;
  width: 50%;
  margin: auto;
}

.banner-text p{
  color: black;
  font-size: 18px;
  padding: 1em;
  font-family: montserrat;
  line-height: 1.5em;
  
}

.social-links {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
  margin-top: -30px;
}

.social-links i {
  color: white;
  font-size: 5em;
  padding: 8px;
  text-shadow: -2px 2px 5px black;
}

@media screen and (max-width: 600px) {
  .social-links{
    width: 50vw;
  }
  .social-links i {
    font-size: 20vw;
  }
}

.resume-grid{
  background: #D3CCE3;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #E9E4F0, #D3CCE3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  text-align: center;
  /* position: fixed; */
  /* top: 0; */
  /* left: 0; */
  width: 100%;
  height: 100%;
  margin: auto;
}

.resume-grid .job-title{
  display: flex;
  align-items: center;
  justify-content: center;
}

.resume-grid h1{
  color: white;
  font-family: montserrat;
  text-shadow: -2px 2px 5px black;
}
.mdl-layout__drawer-button{
  color: black;
}
.resume-grid h3{
  color: white;
  font-family: montserrat;
  text-align: center;
  text-shadow: -2px 2px 5px black;
}

@media screen and (max-width: 600px){
  .resume-grid h3{
    text-align: left;
    margin: auto;
    padding-left: 5px;
    margin-top: -5%;
    margin-bottom: -1%;
    margin-left: -5px;
    font-size: 5vw;
  }
}
.resume-grid p{
  color: black;
  font-family: montserrat;
  text-align: left;
  /* margin-bottom: 0%; */
}

.resume-grid .date{
  padding-bottom: 1px;
}
@media screen and (max-width: 600px){
  .resume-grid .date{
    margin-bottom: 0px;
  }
}

.resume-grid hr{
  border-top: 5px dotted white;
  margin-left: 20%;
  margin-right: 20%;
}

.projects-grid{
  background: #D3CCE3;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #E9E4F0, #D3CCE3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  background: white;
  display: flex;

  /* position: fixed; */
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.projects-grid .project-card{
  margin: auto;
}

@media screen and (max-width: 600px) {
  .projects-grid {
    margin-top: 20%;
    display: block;
  }

  .projects-grid .project-card{
    margin-bottom: 10%;
    background: white;
  }
}



.card-title{
  height: 176px;
  width: 100%;
  /* text-align: center; */
  background-size: 50% 50%;
}

.card-text{
  min-height: 70px;
}